<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>com.xxx.wifiutil</string>
	<key>ProgramArguments</key>
		<array>
			<string>wifiutil</string>
			<string>associate</string>
			<string>SSID name</string>
			<string>password</string>
		</array>
	<key>KeepAlive</key>
		<dict>
			<key>NetworkState</key>
				<false/>
		</dict>
	<key>Username</key>
		<string>root</string>
	<key>RunAtLoad</key>
		<true/>
	<key>StandardErrorPath</key>
		<string>/etc/wifi.log</string>
</dict>
</plist>
