<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>com.xxx.shadowsocks</string>
	<key>ProgramArguments</key>
		<array>
			<string>ssserver</string>
			<string>-c</string>
			<string>/etc/shadowsocks.json</string>
		</array>
	<key>Username</key>
		<string>root</string>
	<key>RunAtLoad</key>
		<true/>
	<key>KeepAlive</key>
		<true/>
	<key>ProcessType</key>
		<string>Standard</string>
	<key>StandardErrorPath</key>
		<string>/etc/shadow.log</string>
</dict>
</plist>
